body {
  background-color: rgb(38, 191, 202);
  display: block;
}

.text-red {
  color: red;
}

.weather {
  width: 300px;
  padding: 10px;
  border-radius: 2px;
  margin: 50px auto;
  background: white;
  align-content: center;
  justify-content: center;
}

.weatherUpdate {
  width: 250px;
  /* height: 300px; */
  padding: 10px;
  border-radius: 2px;
  margin: 50px auto;
  background: white;
  align-content: center;
  justify-content: center;
}

.weatherIcon {
  width: 95px;
  height: 90px;
  margin-top: 0;
  padding: 0;
}

.weatherCity {
  font-size: 13px;
  padding: 0;
  margin: 0;
}

.weatherDesc {
  font-size: 13px;
  padding: 0;
  margin: 0;
}

.weatherTemp {
  font-size: 40px;
  font-weight: 700;
}

.heading {
  justify-content: right;
  padding: 0px;
  color: rgb(44, 115, 120);
}

.headingUpdate {
  margin-right: 15px;
  color: rgb(44, 115, 120);
}

.search input {
  font-size: 12px;
  text-align: center;
  justify-content: space-between;
  background-color: white;
  color: lightgrey;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin-top: 0px;
}

.details .col {
  display: flex;
  align-items: last baseline;
  text-align: left;
}

.details .col img {
  width: 30px;
  margin-right: 10px;
  align-items: last baseline;
}

.humidity,
.wind {
  font-size: 12px;
}

.humidity p,
.wind p {
  margin: 0px;
  align-items: last baseline;
}

.search button {
  border: none;
  outline: 0;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(38, 191, 202);
  font-size: 12px;
  text-align: center;
  padding: 3px;
}

.search button:hover,
.btn:hover {
  background-color: rgb(20, 138, 147);
}

.btn {
  background-color: rgb(38, 191, 202);
}

.error {
  color: red;
  text-align: right;
  margin-right: 10px;
}

/* /* .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.search input {
    border: 5px;
    outline: 0;
    padding: 12px 25px;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-color: grey;
    border-radius: 10px;
    flex: 1;
    margin-inline: 12px;

} */
